@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&family=Outfit:wght@300;400;500;600;700&family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #104660;
  --color-primary-hover: #0c3549;
  --color-secondary: #0ea5e9;
  --color-accent: #06b6d4;
  --color-background: #ffffff;
  --color-surface: #f8fafc;
  --color-text-main: #0f172a;
  --color-text-muted: #64748b;

  --font-heading: "Outfit", sans-serif;
  --font-body: "Inter", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}

@layer base {
  body {
    @apply bg-background text-text-main font-body antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }
}

@layer components {
  .glass {
    @apply bg-white/70 backdrop-blur-lg border border-slate-200/50 shadow-sm transition-all;
  }

  .text-gradient {
    @apply bg-gradient-to-r from-primary to-secondary bg-clip-text text-transparent;
  }
}